@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl font-extrabold text-gray-800;
    }
    
    h2 {
        @apply text-2xl font-bold text-gray-800;
    }
    
    h3 {
        @apply text-xl font-bold text-gray-800;
    }
    
    h4 {
        @apply text-lg font-bold text-gray-800;
    }
    
    p {
        @apply text-sm text-gray-800;
    }

    @font-face {
        font-family: PT Sans;
        src: url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    }
    @font-face {
        font-family: Overpass Mono;
        src: url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    }
}