@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl font-extrabold text-gray-800;
    }
    
    h2 {
        @apply text-2xl font-bold text-gray-800;
    }
    
    h3 {
        @apply text-xl font-bold text-gray-800;
    }
    
    h4 {
        @apply text-lg font-bold text-gray-800;
    }

    h5 {
        @apply text-base font-bold text-gray-800;
    }

    h6 {
        @apply font-mono text-base font-bold text-gray-600;
    }
    
    p {
        @apply text-base leading-7 text-gray-800;
    }

    li {
        @apply text-gray-800;
    }

    @font-face {
        font-family: PT Sans;
        font-weight: 700;
        src: local('PTSans'), url('../fonts/PTSans/PTSans-Bold.ttf');
    }

    @font-face {
        font-family: PT Sans;
        font-weight: 400;
        src: local('PTSans'), url('../fonts/PTSans/PTSans-Regular.ttf');
    }

    @font-face {
        font-family: Overpass Mono;
        font-weight: 300;
        src: local('OverpassMono'), url('../fonts/OverpassMono/OverpassMono-Light.ttf');
    }

    @font-face {
        font-family: Overpass Mono;
        font-weight: 400;
        src: local('OverpassMono'), url('../fonts/OverpassMono/OverpassMono-Regular.ttf');
    }
    
    @font-face {
        font-family: Overpass Mono;
        font-weight: 600;
        src: local('OverpassMono'), url('../fonts/OverpassMono/OverpassMono-SemiBold.ttf');
    }

    @font-face {
        font-family: Overpass Mono;
        font-weight: 700;
        src: local('OverpassMono'), url('../fonts/OverpassMono/OverpassMono-Bold.ttf');
    }
}